# Data Preparation

### Data Loading and Merging

In [1]:
import pandas as pd

# Read the CSV files
attendance = pd.read_csv('data/game_info.csv') #contains the attendancce column
games = pd.read_csv('data/game.csv') #contains game information (which teams, who won, etc.)
stadion_capacities = pd.read_csv('stadion_capacity.csv') #contains stadium capacities and when the stadium was used

# Merge attendance and games on game_id
games = pd.merge(attendance, games, on='game_id', how='inner')

games.drop(columns=['game_date_y'], inplace=True) # drop second game date
games.rename(columns={'game_date_x': 'game_date'}, inplace=True) 
games['game_date'] = pd.to_datetime(games['game_date'])

# Filter for games from 1996-97 season onwards
# NBA season starts in October, so keep games from October 1996 onwards
games_1996 = games[
    ((games['game_date'].dt.year == 1996) & (games['game_date'].dt.month >= 10)) |
    (games['game_date'].dt.year > 1996)
]

# Add a year column
games_1996.loc[:, 'game_year'] = games_1996['game_date'].dt.year

# Save to CSV
# games_1996.to_csv('nba_games_since_1996.csv', index=False)

C:\Users\Martin\AppData\Local\Temp\ipykernel_23328\2912657500.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_1996.loc[:, 'game_year'] = games_1996['game_date'].dt.year

In [2]:
# Create a function to determine if a game is in first or second half of season
def get_season_half(date):
    # NBA season typically starts in October and ends in April
    # If month is October through December, it's first half
    # If month is January through June, it's second half
    if date.month >= 10:
        return 'First Half'
    else:
        return 'Second Half'

# Function to match game with correct arena capacity
def get_arena_capacity(row, stadiums_df):
    game_date = row['game_date']
    team_id = row['team_id_home']
    
    # Get all stadiums for this team
    team_stadiums = stadiums_df[stadiums_df['team_id'] == team_id]
    
    # Find the correct stadium based on date
    for _, stadium in team_stadiums.iterrows():
        start_year = stadium['start_year']
        end_year = stadium['end_year']
        
        # Handle the mid-year season transition
        if game_date.month >= 10:
            game_year = game_date.year + 1
        else:
            game_year = game_date.year
            
        if start_year <= game_year <= end_year:
            return stadium['capacity']
    
    return None

In [3]:
# Add season half (First or Second Half)
games_1996.loc[:, 'season_half'] = games_1996['game_date'].apply(get_season_half)

# Get arena capacity for each game
games_1996.loc[:, 'arena_capacity'] = games_1996.apply(lambda x: get_arena_capacity(x, stadion_capacities), axis=1)

# Calculate occupancy rate
games_1996.loc[:, 'occupancy_rate'] = (games_1996['attendance'] / games_1996['arena_capacity']) * 100

# Round occupancy rate to 2 decimal places
# occupancy_df['occupancy_rate'] = occupancy_df['occupancy_rate'].round(2)

# Sort by date
# occupancy_df = occupancy_df.sort_values('game_date')

C:\Users\Martin\AppData\Local\Temp\ipykernel_23328\3256368380.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_1996.loc[:, 'season_half'] = games_1996['game_date'].apply(get_season_half)
C:\Users\Martin\AppData\Local\Temp\ipykernel_23328\3256368380.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_1996.loc[:, 'arena_capacity'] = games_1996.apply(lambda x: get_arena_capacity(x, stadion_capacities), axis=1)
C:\Users\Martin\AppData\Local\Temp\ipykernel_23328\3256368380.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_1996.loc[:, 'occupancy_rate'] = (games_1996['attendance'] / games_1996['arena_capacity']) * 100

In [4]:
# Move "arena_capacity" and "occupancy_rate" right after "attendance" and disregard columns like fg % -> shorten the dataframe
new_order = [
    "game_id", "game_date", "attendance", 
    "arena_capacity", "occupancy_rate", 
    "game_time", "game_year", "season_id", "pts_home", 'pts_away', "plus_minus_home",  "plus_minus_away",
    "team_id_home", "team_abbreviation_home", "matchup_home", "wl_home",
    "team_id_away", "team_abbreviation_away",
    "season_type", "season_half"
]

# Reorder DataFrame


master_short_data = games_1996[new_order]
master_short_data.to_csv('Master_Short_Data.csv', index=False)

In [5]:
games_1996.to_csv('Master_Full_Data.csv', index=False)

In [34]:
# import pandas as pd

# # Load the dataset
# df = pd.read_csv('Master_Short_Data.csv')

# # Remove rows where game_year is 2020
# df = df[df['game_year'] != 2020]
# df = df[df['game_year'] != 2021]


# # Save the cleaned dataset
# df.to_csv('Master_Short_Data.csv', index=False)

### Filtering and Cleaning

In [6]:
Master = master_short_data

# Daten laden
df = pd.read_csv('Master_Short_Data.csv')
df['game_date'] = pd.to_datetime(df['game_date'])

# Extract date-based features
df['game_year'] = df['game_date'].dt.year
df['game_month'] = df['game_date'].dt.month
df['game_dayofweek'] = df['game_date'].dt.dayofweek  # Monday=0, Sunday=6
df['game_hour'] = pd.to_datetime(df['game_time'], errors='coerce').dt.hour


df = df.dropna(subset=['arena_capacity'])
df = df.dropna(subset=['attendance'])

# Liste aller Teams, die mindestens einmal als Heimteam vorkommen
home_teams = df['team_abbreviation_home'].unique()

# Nur Einträge behalten, bei denen das Auswärtsteam auch in den Heimteams vorkommt
df = df[df['team_abbreviation_away'].isin(home_teams)]



df.to_csv('Master_Short_Data.csv', index=False)

C:\Users\Martin\AppData\Local\Temp\ipykernel_23328\833280829.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['game_hour'] = pd.to_datetime(df['game_time'], errors='coerce').dt.hour

In [7]:
df = pd.read_csv('Master_Short_Data.csv')

# drop all rows between 2020 march and 2021 september
df = df[(df['game_date'] < '2020-03-01') | (df['game_date'] > '2021-10-15')]

df.to_csv('Master_Short_Data.csv', index=False)

### Adding New Features

### Adding Records of Games to Master Short

In [8]:
def calculate_team_records(df):
    # Create copy to avoid modifying original
    df = df.copy()
    
    # Sort by season and date to ensure correct order
    # df = df.sort_values(['season_id', 'game_date'])
    
    # Initialize new columns
    df['home_wins'] = 0
    df['home_losses'] = 0
    df['home_win_streak'] = 0
    df['away_wins'] = 0
    df['away_losses'] = 0
    df['away_win_streak'] = 0
    
    # Dictionary to store team records for each season
    # Format: {season_id: {team_id: {'wins': x, 'losses': y, 'streak': z}}}
    season_records = {}
    
    # Process each game
    for idx, row in df.iterrows():
        season = row['season_id']
        home_team = row['team_id_home']
        away_team = row['team_id_away']
        
        # Initialize season records if needed
        if season not in season_records:
            season_records[season] = {}
            
        # Get or initialize home team records
        if home_team not in season_records[season]:
            home_record = {'wins': 0, 'losses': 0, 'streak': 0}
        else:
            home_record = season_records[season][home_team].copy()
            
        # Get or initialize away team records
        if away_team not in season_records[season]:
            away_record = {'wins': 0, 'losses': 0, 'streak': 0}
        else:
            away_record = season_records[season][away_team].copy()
        
        # Add result of current game
        if row['wl_home'] == 'W':
            home_record['wins'] += 1
            away_record['losses'] += 1
            home_record['streak'] = max(1, home_record['streak'] + 1)
            away_record['streak'] = min(-1, away_record['streak'] - 1)
        else:
            home_record['losses'] += 1
            away_record['wins'] += 1
            home_record['streak'] = min(-1, home_record['streak'] - 1)
            away_record['streak'] = max(1, away_record['streak'] + 1)
        
        # Store current records including this game
        df.at[idx, 'home_wins'] = home_record['wins']
        df.at[idx, 'home_losses'] = home_record['losses']
        df.at[idx, 'home_win_streak'] = home_record['streak']
        df.at[idx, 'away_wins'] = away_record['wins']
        df.at[idx, 'away_losses'] = away_record['losses']
        df.at[idx, 'away_win_streak'] = away_record['streak']
        
        # Store updated records for next games
        season_records[season][home_team] = home_record
        season_records[season][away_team] = away_record
    
    return df

In [9]:
calculate_team_records(df).to_csv('Master_Short_Data.csv', index=False)

### Adding Rivalries to Dataset

In [10]:
import pandas as pd

# Load Master Short Data and rivalries
master_df = pd.read_csv('Master_Short_Data.csv')
rivalries_df = pd.read_csv('rivalries.csv')

# Prepare set of rivalry pairs (both directions)
rival_pairs = set()
for _, row in rivalries_df.iterrows():
    t1 = row['team_id']
    t2 = row['rival_team_id']
    rival_pairs.add((t1, t2))
    rival_pairs.add((t2, t1))

def is_rival_game(row):
    return int((row['team_id_home'], row['team_id_away']) in rival_pairs)

# Add rival_game column (1 = yes, 0 = no)
master_df['rival_game'] = master_df.apply(is_rival_game, axis=1)

# Save updated dataframe
master_df.to_csv('Master_Short_Data.csv', index=False)

### Adding defending champions

In [11]:
import pandas as pd

# Load champions data if not already loaded
champions_df = pd.read_csv('champions.csv')

# Function to get defending champion for a given team, year, and season_half
def get_defending_champ(team_id, game_year, season_half):
    if season_half == 'Second Half':
        champ_year = game_year - 1
    else:
        champ_year = game_year
    champ_row = champions_df[champions_df['year'] == champ_year]
    if not champ_row.empty and champ_row.iloc[0]['team_id'] == team_id:
        return 1
    return 0

# Add defending champion columns for home and away teams
master_df['defending_champ_home'] = master_df.apply(
    lambda row: get_defending_champ(row['team_id_home'], row['game_year'], row['season_half']), axis=1
)
master_df['defending_champ_away'] = master_df.apply(
    lambda row: get_defending_champ(row['team_id_away'], row['game_year'], row['season_half']), axis=1
)

# Save updated dataframe
master_df.to_csv('Master_Short_Data.csv', index=False)

### Adding largest leads and lead_changes

In [12]:
import pandas as pd

# Hauptdatensatz laden
master_df = pd.read_csv("Master_Short_Data.csv")

# Zusätzliche Statistikdaten laden
other_stats = pd.read_csv("Data/other_stats.csv")

# Relevante Spalten aus other_stats wählen
other_stats_subset = other_stats[[
    'game_id', 'largest_lead_home', 'largest_lead_away', 'lead_changes', 'times_tied'
]]

# Achtung: game_id muss in beiden Datensätzen vorhanden sein
# Prüfen, ob 'game_id' auch im Master-Datensatz korrekt existiert:
if 'game_id' not in master_df.columns:
    print("⚠️ 'game_id' fehlt im Master-Satz, bitte prüfen!")

# Merge anhand der game_id
merged_df = master_df.merge(other_stats_subset, on='game_id', how='left')

# Ergebnis prüfen
print(merged_df[['game_id', 'largest_lead_home', 'largest_lead_away', 'lead_changes']].head())

# Neues CSV speichern (optional)
merged_df.to_csv("Master_Short_Data.csv", index=False)

    game_id  largest_lead_home  largest_lead_away  lead_changes
0  29600012                1.0               19.0           4.0
1  29600005                0.0               16.0           0.0
2  29600002               20.0                2.0           1.0
3  29600007               10.0                9.0           7.0
4  29600013               12.0                6.0           5.0

### Adding MVPs to Dataset

In [13]:
import pandas as pd

# Load Master Short Data and MVPs
master_df = pd.read_csv('Master_Short_Data.csv')
mvps_df = pd.read_csv('mvps.csv')

# Prepare MVP mapping for both season splits
mvp_map = {}
for _, row in mvps_df.iterrows():
    mvp_team = row['team_id']
    mvp_year = row['year']
    # Assign MVP to previous year + Second Half and current year + First Half
    mvp_map[(mvp_year - 1, 'Second Half', mvp_team)] = 1
    mvp_map[(mvp_year, 'First Half', mvp_team)] = 1

def has_mvp(row):
    key = (row['game_year'], row['season_half'], row['team_id_home'])
    return mvp_map.get(key, 0)

# Add MVP column for home team
master_df['home_mvp'] = master_df.apply(has_mvp, axis=1)

# Add MVP column for away team
def has_mvp_away(row):
    key = (row['game_year'], row['season_half'], row['team_id_away'])
    return mvp_map.get(key, 0)

master_df['away_mvp'] = master_df.apply(has_mvp_away, axis=1)

# Save updated dataframe
master_df.to_csv('Master_Short_Data.csv', index=False)

### Adding attendance of the previous season to Dataset

In [14]:
import pandas as pd
import numpy as np

# Ensure game_date is datetime
master_df['game_date'] = pd.to_datetime(master_df['game_date'])

def get_prev_season_avg(row, df):
    team = row['team_id_home']
    season = row['game_year']
    half = row['season_half']
    
    if half == 'Second Half':
        # Previous season: previous year Second Half + current year First Half
        mask = (
            ((df['team_id_home'] == team) & 
             (((df['game_year'] == season - 1) & (df['season_half'] == 'Second Half')) |
              ((df['game_year'] == season) & (df['season_half'] == 'First Half'))))
        )
    else:  # First Half
        # Previous season: two years back Second Half + one year back First Half
        mask = (
            ((df['team_id_home'] == team) & 
             (((df['game_year'] == season - 2) & (df['season_half'] == 'Second Half')) |
              ((df['game_year'] == season - 1) & (df['season_half'] == 'First Half'))))
        )
    prev_games = df.loc[mask, 'attendance']
    if len(prev_games) == 0:
        return np.nan
    return prev_games.mean()

master_df['attendance_prev_season_avg'] = master_df.apply(lambda row: get_prev_season_avg(row, master_df), axis=1)

# Save to CSV
master_df.to_csv('Master_Short_Data.csv', index=False)

### Adding laged attendance (two games) to Dataset

In [15]:
# Add lag features for attendance (previous 1 and 2 games for each home team)
df = pd.read_csv('Master_Short_Data.csv')
df = df.sort_values(['team_id_home', 'game_date'])

df['attendance_lag1'] = df.groupby('team_id_home')['attendance'].shift(1)
df['attendance_lag2'] = df.groupby('team_id_home')['attendance'].shift(2)


df = df.sort_values(['game_date'])

df.to_csv('Master_Short_Data.csv', index=False)

### Adding Sold Out Variable (>= 0.99 occuoancy)

In [16]:
import pandas as pd

# Daten einlesen
df = pd.read_csv('Master_Short_Data.csv')

# Neue Spalte 'sold_out' erstellen: 1 = ausverkauft, 0 = nicht ausverkauft
df['sold_out'] = (df['attendance'] >= (df['arena_capacity']*0.99)).astype(int)

# Ergebnis prüfen
print(df[['attendance', 'arena_capacity', 'sold_out']].head(10))

# Optional: CSV mit neuer Spalte abspeichern
df.to_csv('Master_Short_Data.csv', index=False)

   attendance  arena_capacity  sold_out
0     18109.0         18798.0         0
1     19193.0         18422.0         1
2     20444.0         20478.0         1
3     16104.0         17171.0         0
4     15593.0         19596.0         0
5     17248.0         15077.0         1
6     18624.0         19156.0         0
7     16285.0         15676.0         1
8     18316.0         20049.0         0
9     21454.0         22076.0         0

## Analysis

In [45]:
# Calculate number of games per year with occupancy rate less than 50%
games_below_50 = master_df[master_df['occupancy_rate'] < 50]
games_below_50_per_year = games_below_50.groupby('game_year').size().reset_index(name='games_below_50pct')

print(games_below_50_per_year)

    game_year  games_below_50pct
0        1996                 11
1        1997                 34
2        1998                 43
3        1999                 39
4        2000                  3
5        2001                 17
6        2002                 37
7        2003                 12
8        2004                  4
9        2005                 22
10       2006                  8
11       2007                 29
12       2008                 25
13       2009                 21
14       2010                 29
15       2011                  5
16       2012                 25
17       2013                 25
18       2014                 27
19       2015                 19
20       2016                 22
21       2017                  5
22       2020                  2
23       2021                459
24       2022                 10

In [48]:
# Calculate number of games with occupancy rate of 100% for each home team and year
pd.options.display.max_rows = 4000


games_over_100 = master_df[master_df['occupancy_rate'] >= 100]
over_100_counts = games_over_100.groupby(['game_year', 'team_abbreviation_home']).size().reset_index(name='games_over_100pct')

# Create all combinations of years and teams to ensure completeness
all_years = master_df['game_year'].unique()
all_teams = pd.DataFrame({'team_abbreviation_home': home_teams})
all_combinations = pd.MultiIndex.from_product([all_years, home_teams], names=['game_year', 'team_abbreviation_home']).to_frame(index=False)

# Merge and fill missing with zero
over_100_counts = all_combinations.merge(over_100_counts, on=['game_year', 'team_abbreviation_home'], how='left').fillna(0)
over_100_counts['games_over_100pct'] = over_100_counts['games_over_100pct'].astype(int)

# Sort by year and number of games descending
over_100_counts = over_100_counts.sort_values(['game_year', 'games_over_100pct'], ascending=[True, False])

print(over_100_counts.head(3000))

      game_year team_abbreviation_home  games_over_100pct
11         1996                    UTA                 17
5          1996                    HOU                 13
16         1996                    CHI                 13
17         1996                    CHH                 12
19         1996                    PHX                 12
23         1996                    POR                 12
25         1996                    SAC                 12
12         1996                    ORL                 11
0          1996                    LAL                  6
22         1996                    SAS                  4
2          1996                    NJN                  3
18         1996                    DAL                  3
9          1996                    PHI                  2
15         1996                    ATL                  2
6          1996                    VAN                  1
10         1996                    MIN                  1
20         1996                    MIL                  1
1          1996                    MIA                  0
3          1996                    DET                  0
4          1996                    GSW                  0
7          1996                    BOS                  0
8          1996                    DEN                  0
13         1996                    IND                  0
14         1996                    LAC                  0
21         1996                    NYK                  0
24         1996                    CLE                  0
26         1996                    WAS                  0
27         1996                    TOR                  0
28         1996                    MEM                  0
29         1996                    SEA                  0
30         1996                    NOH                  0
31         1996                    CHA                  0
32         1996                    NOK                  0
33         1996                    OKC                  0
34         1996                    BKN                  0
35         1996                    NOP                  0
52         1997                    CHI                 50
41         1997                    HOU                 43
47         1997                    UTA                 43
48         1997                    ORL                 42
55         1997                    PHX                 39
59         1997                    POR                 38
53         1997                    CHH                 36
36         1997                    LAL                 23
61         1997                    SAC                 23
51         1997                    ATL                 16
49         1997                    IND                 13
46         1997                    MIN                 12
38         1997                    NJN                  7
58         1997                    SAS                  7
39         1997                    DET                  6
42         1997                    VAN                  6
60         1997                    CLE                  6
50         1997                    LAC                  4
54         1997                    DAL                  4
45         1997                    PHI                  2
56         1997                    MIL                  2
40         1997                    GSW                  1
62         1997                    WAS                  1
37         1997                    MIA                  0
43         1997                    BOS                  0
44         1997                    DEN                  0
57         1997                    NYK                  0
63         1997                    TOR                  0
64         1997                    MEM                  0
65         1997                    SEA                  0
66         1997                    NOH                  0
67         1997                    CHA                  0
68         1997                    NOK                  0
69         1997                    OKC                  0
70         1997                    BKN                  0
71         1997                    NOP                  0
83         1998                    UTA                 36
88         1998                    CHI                 31
91         1998                    PHX                 27
84         1998                    ORL                 24
95         1998                    POR                 24
72         1998                    LAL                 23
77         1998                    HOU                 22
85         1998                    IND                 17
98         1998                    WAS                 15
74         1998                    NJN                 13
89         1998                    CHH                 12
82         1998                    MIN                 10
94         1998                    SAS                  9
75         1998                    DET                  8
96         1998                    CLE                  6
81         1998                    PHI                  5
78         1998                    VAN                  3
90         1998                    DAL                  3
92         1998                    MIL                  3
76         1998                    GSW                  2
97         1998                    SAC                  2
80         1998                    DEN                  1
86         1998                    LAC                  1
73         1998                    MIA                  0
79         1998                    BOS                  0
87         1998                    ATL                  0
93         1998                    NYK                  0
99         1998                    TOR                  0
100        1998                    MEM                  0
101        1998                    SEA                  0
102        1998                    NOH                  0
103        1998                    CHA                  0
104        1998                    NOK                  0
105        1998                    OKC                  0
106        1998                    BKN                  0
107        1998                    NOP                  0
119        1999                    UTA                 42
127        1999                    PHX                 40
121        1999                    IND                 36
131        1999                    POR                 34
108        1999                    LAL                 33
124        1999                    CHI                 32
113        1999                    HOU                 28
120        1999                    ORL                 25
133        1999                    SAC                 23
130        1999                    SAS                 21
117        1999                    PHI                 10
118        1999                    MIN                  8
114        1999                    VAN                  7
110        1999                    NJN                  5
135        1999                    TOR                  5
111        1999                    DET                  4
123        1999                    ATL                  4
116        1999                    DEN                  3
126        1999                    DAL                  3
128        1999                    MIL                  2
134        1999                    WAS                  2
112        1999                    GSW                  1
122        1999                    LAC                  1
132        1999                    CLE                  1
109        1999                    MIA                  0
115        1999                    BOS                  0
125        1999                    CHH                  0
129        1999                    NYK                  0
136        1999                    MEM                  0
137        1999                    SEA                  0
138        1999                    NOH                  0
139        1999                    CHA                  0
140        1999                    NOK                  0
141        1999                    OKC                  0
142        1999                    BKN                  0
143        1999                    NOP                  0
160        2000                    CHI                 39
167        2000                    POR                 37
155        2000                    UTA                 35
163        2000                    PHX                 33
169        2000                    SAC                 33
144        2000                    LAL                 31
157        2000                    IND                 28
171        2000                    TOR                 25
166        2000                    SAS                 13
145        2000                    MIA                 10
153        2000                    PHI                 10
149        2000                    HOU                  9
162        2000                    DAL                  9
159        2000                    ATL                  8
156        2000                    ORL                  7
154        2000                    MIN                  6
168        2000                    CLE                  6
170        2000                    WAS                  6
147        2000                    DET                  5
164        2000                    MIL                  5
158        2000                    LAC                  3
146        2000                    NJN                  1
148        2000                    GSW                  1
150        2000                    VAN                  1
151        2000                    BOS                  0
152        2000                    DEN                  0
161        2000                    CHH                  0
165        2000                    NYK                  0
172        2000                    MEM                  0
173        2000                    SEA                  0
174        2000                    NOH                  0
175        2000                    CHA                  0
176        2000                    NOK                  0
177        2000                    OKC                  0
178        2000                    BKN                  0
179        2000                    NOP                  0
205        2001                    SAC                 43
180        2001                    LAL                 39
203        2001                    POR                 31
191        2001                    UTA                 30
207        2001                    TOR                 30
189        2001                    PHI                 29
198        2001                    DAL                 27
200        2001                    MIL                 27
202        2001                    SAS                 27
199        2001                    PHX                 25
196        2001                    CHI                 22
193        2001                    IND                 21
192        2001                    ORL                 19
206        2001                    WAS                 15
194        2001                    LAC                 10
190        2001                    MIN                  9
183        2001                    DET                  6
181        2001                    MIA                  5
195        2001                    ATL                  5
204        2001                    CLE                  5
182        2001                    NJN                  4
185        2001                    HOU                  4
186        2001                    VAN                  3
188        2001                    DEN                  2
184        2001                    GSW                  1
187        2001                    BOS                  0
197        2001                    CHH                  0
201        2001                    NYK                  0
208        2001                    MEM                  0
209        2001                    SEA                  0
210        2001                    NOH                  0
211        2001                    CHA                  0
212        2001                    NOK                  0
213        2001                    OKC                  0
214        2001                    BKN                  0
215        2001                    NOP                  0
241        2002                    SAC                 37
234        2002                    DAL                 35
216        2002                    LAL                 33
243        2002                    TOR                 32
227        2002                    UTA                 30
242        2002                    WAS                 24
225        2002                    PHI                 19
228        2002                    ORL                 19
219        2002                    DET                 17
239        2002                    POR                 16
230        2002                    LAC                 14
235        2002                    PHX                 14
226        2002                    MIN                 12
236        2002                    MIL                 12
238        2002                    SAS                 11
218        2002                    NJN                  9
229        2002                    IND                  7
232        2002                    CHI                  6
231        2002                    ATL                  5
240        2002                    CLE                  5
220        2002                    GSW                  3
246        2002                    NOH                  3
221        2002                    HOU                  2
217        2002                    MIA                  1
222        2002                    VAN                  0
223        2002                    BOS                  0
224        2002                    DEN                  0
233        2002                    CHH                  0
237        2002                    NYK                  0
244        2002                    MEM                  0
245        2002                    SEA                  0
247        2002                    CHA                  0
248        2002                    NOK                  0
249        2002                    OKC                  0
250        2002                    BKN                  0
251        2002                    NOP                  0
270        2003                    DAL                 50
277        2003                    SAC                 45
252        2003                    LAL                 44
263        2003                    UTA                 32
274        2003                    SAS                 32
255        2003                    DET                 29
275        2003                    POR                 21
271        2003                    PHX                 20
261        2003                    PHI                 18
264        2003                    ORL                 18
257        2003                    HOU                 14
282        2003                    NOH                 14
268        2003                    CHI                 13
267        2003                    ATL                 11
279        2003                    TOR                 10
265        2003                    IND                  9
266        2003                    LAC                  6
272        2003                    MIL                  6
254        2003                    NJN                  5
256        2003                    GSW                  5
276        2003                    CLE                  5
260        2003                    DEN                  4
262        2003                    MIN                  3
253        2003                    MIA                  1
281        2003                    SEA                  1
258        2003                    VAN                  0
259        2003                    BOS                  0
269        2003                    CHH                  0
273        2003                    NYK                  0
278        2003                    WAS                  0
280        2003                    MEM                  0
283        2003                    CHA                  0
284        2003                    NOK                  0
285        2003                    OKC                  0
286        2003                    BKN                  0
287        2003                    NOP                  0
291        2004                    DET                 43
306        2004                    DAL                 40
288        2004                    LAL                 38
313        2004                    SAC                 35
299        2004                    UTA                 29
310        2004                    SAS                 24
293        2004                    HOU                 20
298        2004                    MIN                 20
307        2004                    PHX                 20
289        2004                    MIA                 18
312        2004                    CLE                 16
300        2004                    ORL                 13
301        2004                    IND                 12
296        2004                    DEN                 10
304        2004                    CHI                 10
308        2004                    MIL                 10
297        2004                    PHI                  7
318        2004                    NOH                  6
292        2004                    GSW                  5
302        2004                    LAC                  5
315        2004                    TOR                  5
316        2004                    MEM                  5
303        2004                    ATL                  4
311        2004                    POR                  4
290        2004                    NJN                  0
294        2004                    VAN                  0
295        2004                    BOS                  0
305        2004                    CHH                  0
309        2004                    NYK                  0
314        2004                    WAS                  0
317        2004                    SEA                  0
319        2004                    CHA                  0
320        2004                    NOK                  0
321        2004                    OKC                  0
322        2004                    BKN                  0
323        2004                    NOP                  0
325        2005                    MIA                 48
327        2005                    DET                 48
342        2005                    DAL                 45
349        2005                    SAC                 44
343        2005                    PHX                 42
346        2005                    SAS                 41
324        2005                    LAL                 23
340        2005                    CHI                 23
348        2005                    CLE                 23
337        2005                    IND                 21
335        2005                    UTA                 19
329        2005                    HOU                 17
336        2005                    ORL                 17
339        2005                    ATL                 16
352        2005                    MEM                 12
356        2005                    NOK                  9
332        2005                    DEN                  8
328        2005                    GSW                  7
333        2005                    PHI                  7

In [47]:
# Calculate number of games with occupancy rate of 100% for each home team
games_over_100 = master_df[master_df['occupancy_rate'] >= 100]
over_100_counts = games_over_100.groupby('team_abbreviation_home').size().reset_index(name='games_over_100pct')

# Ensure all teams are included, fill missing with zero
all_teams = pd.DataFrame({'team_abbreviation_home': home_teams})
over_100_counts = all_teams.merge(over_100_counts, on='team_abbreviation_home', how='left').fillna(0)
over_100_counts['games_over_100pct'] = over_100_counts['games_over_100pct'].astype(int)

# Sort by number of games descending
over_100_counts = over_100_counts.sort_values('games_over_100pct', ascending=False)

print(over_100_counts)

   team_abbreviation_home  games_over_100pct
0                     LAL                852
18                    DAL                840
11                    UTA                816
16                    CHI                732
19                    PHX                717
1                     MIA                686
23                    POR                653
22                    SAS                638
24                    CLE                579
5                     HOU                543
12                    ORL                536
27                    TOR                516
4                     GSW                512
25                    SAC                490
33                    OKC                431
15                    ATL                376
3                     DET                372
13                    IND                321
20                    MIL                287
9                     PHI                252
14                    LAC                246
21                    NYK                240
8                     DEN                184
10                    MIN                170
34                    BKN                155
35                    NOP                144
26                    WAS                139
7                     BOS                122
31                    CHA                114
28                    MEM                110
30                    NOH                 86
2                     NJN                 68
17                    CHH                 60
32                    NOK                 57
6                     VAN                 21
29                    SEA                  3

In [ ]:

# Calculate number of games with occupancy rate over 100% for each home team
games_over_100 = master_df[master_df['occupancy_rate'] == 100]
over_100_counts = games_over_100.groupby('team_abbreviation_home').size().reset_index(name='games_over_100pct')

# Sort by number of games descending
over_100_counts = over_100_counts.sort_values('games_over_100pct', ascending=False)

print(over_100_counts)

   team_abbreviation_home  games_over_100pct
8                     GSW                452
22                    SAC                441
24                    TOR                432
18                    OKC                392
13                    MIA                350
7                     DET                338
17                    NYK                239
9                     HOU                139
25                    UTA                132
1                     BOS                122
0                     BKN                116
23                    SAS                110
12                    MEM                103
4                     CLE                 98
19                    ORL                 93
11                    LAC                 73
21                    POR                 61
3                     CHH                 60
14                    MIL                 59
26                    WAS                 54
6                     DEN                 54
15                    NJN                 46
10                    IND                 45
5                     DAL                  4
2                     CHA                  4
16                    NOP                  1
20                    PHX                  1

#### Wie viele Spiele sind Ausverkauft

In [44]:
import pandas as pd

# Daten laden
df = pd.read_csv("Master_Short_Data.csv")

df['game_date'] = pd.to_datetime(df['game_date'])
df = df[(df['game_date'].dt.year >= 2023) & (df['game_date'].dt.year <= 2024)]


# Gesamtzahl der Spiele
total_games = len(df)

# Anzahl ausverkaufter Spiele
sold_out_games = df['sold_out'].sum()

# Prozentualer Anteil
sold_out_percentage = sold_out_games / total_games * 100

print(f"Anzahl ausverkaufter Spiele: {sold_out_games}")
print(f"Gesamtzahl Spiele: {total_games}")
print(f"Anteil ausverkauft: {sold_out_percentage:.2f}%")

### Calculate Games Played per Season for Teams

In [41]:
def get_team_games_per_season(df, team_abbr='CHI'):
    # Create a mask for the selected team (both home and away games)
    team_games = df[
        (df['team_abbreviation_home'] == team_abbr) | 
        (df['team_abbreviation_away'] == team_abbr)
    ]
    
    # Group by season_id and season_type and count games
    games_count = team_games.groupby(['season_id', 'season_type']).size().reset_index(name='games_played')
    
    # Sort by season_id
    games_count = games_count.sort_values('season_id')
    
    # Add season start year (season_id minus 20000)
    games_count['season_start'] = games_count['season_id'].apply(lambda x: str(x - 20000))
    
    # Reorder columns
    games_count = games_count[['season_start', 'season_id', 'season_type', 'games_played']]
    
    return games_count

# Calculate games for Chicago Bulls
chi_games = get_team_games_per_season(games, 'CHI')
print("\nChicago Bulls Games per Season:")
print(chi_games.to_string(index=False))

# Save to CSV for further analysis
chi_games.to_csv('chi_games_per_season.csv', index=False)

### Calculate Top 5 Attendance Games per Team per Season

In [42]:
master = pd.read_csv('Master_Short_Data.csv')

def analyze_top_attendance(df, n=5):
    # Create copy of dataframe with only needed columns
    df_attendance = df[['season_id', 'team_id_home', 'team_abbreviation_home', 'attendance', 'arena_capacity', 'season_type']]
    
    # Filter out preseason and all-star games, keep regular season and playoffs
    df_attendance = df_attendance[
        (df_attendance['season_type'].isin(['Regular Season', 'Playoffs'])) & 
        (df_attendance['attendance'].notna())
    ]
    
    # Group by season and team
    def get_top_n_details(group):
        # Initialize empty result dictionary
        result = {
            'games_in_top_5': 0,
            'total_games': len(group)
        }
        
        # Add placeholder values for all potential columns
        for i in range(1, n+1):
            result[f'attendance_{i}'] = 0
            result[f'count_{i}'] = 0
            
        # If group is empty or has no valid attendance values, return empty result
        if len(group) == 0 or group['attendance'].isna().all():
            return pd.Series(result)
            
        # Get top N attendances and their counts
        top_n_values = group['attendance'].value_counts().nlargest(n)
        
        if len(top_n_values) > 0:
            # Update games_in_top_5 count
            result['games_in_top_5'] = (group['attendance'] >= top_n_values.iloc[-1]).sum()
            
            # Add each attendance value and its count
            for i, (attendance, count) in enumerate(top_n_values.items(), 1):
                result[f'attendance_{i}'] = attendance
                result[f'count_{i}'] = count
                
        return pd.Series(result)
    
    # Calculate results for each team-season
    results = df_attendance.groupby(['season_id', 'team_id_home', 'team_abbreviation_home']).apply(get_top_n_details).reset_index()
    
    # Add season start year for easier reading
    results['season_start'] = results['season_id'].apply(lambda x: str(x - 20000))
    
    # Calculate percentage of games in top 5
    results['pct_games_top_5'] = (results['games_in_top_5'] / results['total_games'] * 100).round(1)
    
    # Reorder columns
    cols = ['season_start', 'season_id', 'team_abbreviation_home']
    for i in range(1, n+1):
        cols.extend([f'attendance_{i}', f'count_{i}'])
    cols.extend(['games_in_top_5', 'total_games', 'pct_games_top_5'])
    results = results[cols]
    
    # Rename team abbreviation column
    results = results.rename(columns={'team_abbreviation_home': 'team_abbr'})
    
    # Sort by season and team
    results = results.sort_values(['season_id', 'team_abbr'])
    
    return results

# Calculate results for top 5 attendance games
attendance_analysis = analyze_top_attendance(master, 5)

print("\nTop 5 attendance details per team per season (including playoffs):")
print(attendance_analysis.to_string(index=False))

# Save to CSV
attendance_analysis.to_csv('top_5_attendance_details_with_playoffs.csv', index=False)

# Display summary statistics grouped by team
summary = attendance_analysis.groupby('team_abbr').agg({
    'attendance_1': 'mean',
    'count_1': 'mean',
    'games_in_top_5': 'mean',
    'total_games': 'mean',
    'pct_games_top_5': 'mean'
}).sort_values('pct_games_top_5', ascending=False)

print("\nAverage statistics per team:")
print(summary.to_string())